<link rel="stylesheet" href="/css/scraper.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
 crossorigin="anonymous">

<body>
	<div class="container-fluid">
		<div class="jumbotron">
			<h1 class="display-4">Mongo DB scraper!</h1>
			<p class="lead">This site scrapes Fark.com/politics of its headlines and presents them with a link to the original article. Please leave a note if you have
				something to say about any of them. </p>
			<hr class="my-4">
			<p></p>
			<div id="articles"></div>
			<div id="notes"></div>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">Scrape It!</a>
			</p>
			<a class="btn btn-primary btn-lg" href="#" role="button">Leave a Note!</a>
		</div>
		{{#each articles}}

		<h3>{{title}}</h3>
		<h5>
			<a href="{{link}}">link</a>
		</h5>
		{{/each}}
	</div>
</body>