<link rel="stylesheet" href="/css/scraper.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
 crossorigin="anonymous">

<body>
	<div class="container-fluid">
		<div class="jumbotron">
			<h1 class="display-4">Headlines have been scraped!</h1>
			<p class="lead">This site scrapes Fark.com/politics of its headlines and presents them with a link to the original article. Please leave a note if you have
				something to say about any of them. </p>
			<hr class="my-4">
			<p></p>
			<div id="articles"></div>
			<div id="notes"></div>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="/" role="button">Return to main page!</a>
			</p>
			{{!--
			<a class="btn btn-primary btn-lg" href="#" role="button">Leave a Note!</a> --}}
		</div>

	</div>
</body>